<div class="overflow-hidden">
  <div class="flex justify-content-center">
    <p-button
      class="flex-1 md:flex-none flex align-items-center justify-content-center m-2"
      (onClick)="primerPunto()">
      Ver tabla de alquiler
    </p-button>
    <p-button
    class="flex-1 md:flex-none flex align-items-center justify-content-center m-2"
    (onClick)="seguntoPunto()">
    Filtrar por fecha de alquiler
  </p-button>
  <p-button
  class="flex-1 md:flex-none flex align-items-center justify-content-center m-2"
  (onClick)="tercerPunto()">
  Alquiler Carro Completo
</p-button>
  </div>
</div>
