<div class="card">
  <div class="flex justify-content-center flex-wrap">
    <div
      class="flex align-items-center justify-content-center font-bold border-round m-2"
    >
      <h1>Alquiler de Carro por fecha</h1>
    </div>
  </div>
  <div class="flex justify-content-center flex-wrap mb-4">
    <div class="date-input-container">
      <label for="fechaInicial">Fecha Inicial:</label>
      <input
        type="date"
        id="fechaInicial"
        name="fechaInicial"
        [(ngModel)]="fechaInicial"
        (change)="filtrarxFecha()"
        class="date-input"
      />
    </div>

    <div class="date-input-container">
      <label for="fechaFinal">Fecha Final:</label>
      <input
        type="date"
        id="fechaFinal"
        name="fechaFinal"
        [(ngModel)]="fechaFinal"
        (change)="filtrarxFecha()"
        class="date-input"
      />
    </div>
  </div>
  <p-table
    [value]="filteredClientes"
    [tableStyle]="{
      'min-width': '90%',
      'border-radius': '5px',
      overflow: 'auto'
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>CEDULA</th>
        <th>NOMBRE</th>
        <th>FECHA ALQUILER</th>
        <th>TIEMPO ALQUILADO</th>
        <th>SALDO</th>
        <th>PLACA</th>
        <th>MARCA</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{ cliente.cedula }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.fechaAlquiler }}</td>
        <td class="text-right">{{ cliente.tiempoAlquilado }}</td>
        <td>{{ cliente.saldo }}</td>
        <td>{{ cliente.placa }}</td>
        <td>{{ cliente.marca }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
